body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root,
html,
body {
    height: 100%;
}

/*________RESET SEMANTIC________*/

.ui.primary.button,
.ui.primary.buttons .button {
    background-color: #1991fa;
    margin-right: 0;
}

/*_______SIGN_UP__________*/

/*.radio-group .ui.radio.checkbox {*/
    /*position: relative;*/
/*}*/

/*.radio-group .ui.radio.checkbox::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*z-index: 9999999999;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.ownRadio {*/
    /*position: relative;*/
/*}*/

/*.ownInput {*/
    /*opacity: 0;*/
/*}*/

/*.ownInput:checked + .ownRadio {*/
    /*font-weight: bold;*/
/*}*/

/*.ownInput:checked + .ownRadio::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*border-radius: 50%;*/
    /*width: 9px;*/
    /*height: 9px;*/
    /*background-color: #1991fa;*/
    /*top: 3px;*/
    /*left: -17px;*/
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2);*/
/*}*/

/*.ownRadio::before {*/
  /*top: 0;*/
/*left: -20px;*/
/*content: '';*/
/*position: absolute;*/
/*border-radius: 50%;*/
/*display: block;*/
/*width: 15px;*/
/*height: 15px;*/
/*border: 1px solid #000;*/
/*}*/


/*_____________Global__________________*/

.Select-placeholder {
    color: #000;
}

.mt-50 {
    display: inline-block;
    margin-top: 50px;
}
