body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#root > div,
.pusher {
  height: 100%;
}

/*________RESET SEMANTIC________*/

.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #1991fa;
  margin-right: 0;
}

.ui.page.modals.dimmer.transition.visible.active {
    overflow: auto;
}

/*_____________Global__________________*/

.Select-control {
  outline: none;
}

.Select-clear-zone {
  display: none;
}

@media (min-width: 1921px) {
  .Select-control {
    border: 2px solid #ccc;
  }
}

.Select-placeholder {
  color: #000;
}

.mt-50 {
  display: inline-block;
  margin-top: 50px;
}
