body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

/*________RESET SEMANTIC________*/

.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #1991fa;
  margin-right: 0;
}

.ui.page.modals.dimmer.transition.visible.active {
    overflow: auto;
}

/*_____________Global__________________*/

.Select-control {
  outline: none;
}

.Select-clear-zone {
  display: none;
}

@media (min-width: 1921px) {
  .Select-control {
    border: 2px solid #ccc;
  }
}

.Select-placeholder {
  color: #000;
}

.mt-50 {
  display: inline-block;
  margin-top: 50px;
}


.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after {
    font-size: 0;
    position: absolute;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #1991fa;
    top: 3px;
    left: -17px!important;
    transition-property: none!important;
    transition-duration: 0s;
}

.ui.checkbox .box:after,
.ui.checkbox label:after {
    transition: none!important;
}
