body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*________RESET SEMANTIC________*/

.ui.primary.button,
.ui.primary.buttons .button {
    background-color: #1991fa;
}

/*_______SIGN_UP__________*/

.dv-from {
    font-family: Roboto;
    width: 850px;
    font-weight: 400;
    font-size: 28px;
}

.dv-from .form-header {
    height: 73px;
    line-height: 73px;
    text-align: center;
    color: #fff;
    background-color: #1991fa;
}

.dv-from .form-body {
    padding: 72px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.dv-from .form-footer {
    height: 73px;
    text-align: center;
    color: #fff;
    background-color: #1991fa;
    border-radius: 0;
    width: 100%;
    font-size: 24px;
    font-family: Roboto;
}

.ui.segment.active.tab {
    color: #000;
}

.dv-from .ui.text.menu {
    margin: 0 auto;
    border: 1px solid #ccc;

}

.dv-from .ui.text.menu .item{
    width: 50%;
    height: 73px;
    line-height: 73px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    padding: 0;
    color: #000;
    background-color: #fff;
}

.dv-from .ui.text.menu .item.active {
    color: #fff;
    background-color: #1991fa;
}

.dv-from .ui.segment.active.tab {
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}

.radio-group .ui.radio.checkbox {
    position: relative;
}

.radio-group .ui.radio.checkbox::before {
    content: '';
    position: absolute;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
}

.ownRadio {
    position: relative;
}

.ownInput {
    opacity: 0;
}

.ownInput:checked + .ownRadio {
    font-weight: bold;
}

.ownInput:checked + .ownRadio::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #1991fa;
    top: 3px;
    left: -17px;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.ownRadio::before {
    top: 0;
    left: -20px;
    content: '';
    position: absolute;
    border-radius: 50%;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}

/*_________SUB-HEADER________*/

.sub-header {
    width: 100%;
    height: 111px;
    background-color: #1991fa;
    margin-top: 52px;
}

.sub-header .bot-header {
    /*display: inline-block;*/
    text-align: center;
}

.sub-header .bot-header a {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 111px;
}

.sub-header .bot-header a + a {
    padding-left: 30px;
}

.sub-header .bot-header a.active {
    text-decoration: underline;
    font-weight: 700;
}

/*_____________Global__________________*/

.Select-placeholder {
    color: #000;
}

.mt-50 {
    display: inline-block;
    margin-top: 50px;
}

